body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ffdd88, #ff9f80);
}

.container {
  background: white;
  margin: 30px auto;
  padding: 20px;
  width: 95%;
  border-radius: 20px;
}

h1 {
  color: #b8860b;
}

button {
  background: #3c7ba4;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.save {
  margin-top: 15px;
  background: #28a745;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: separate;
  border-spacing: 0 10px;
}

th {
  background: #fff3c4;
  padding: 10px;
}

td {
  background: #fff8d6;
  text-align: center;
  padding: 10px;
}

input {
  width: 80px;
  padding: 4px;
}

/* Remaining small boxes */
.remaining-box {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.remaining-box input {
  width: 60px;
  background: #f1f1f1;
  border: 1px solid #aaa;
}

.total td {
  background: gold;
  font-weight: bold;
}
.title {
  color: #c48b00;
  margin-bottom: 10px;
}

.top-bar {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.history-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.history-table th {
  background: #fff3c4;
  padding: 12px;
}

.history-table td {
  background: #fff8d6;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
}
