body{
  font-family: Arial;
  background: linear-gradient(to right,#ffdd88,#ff9f80);
  margin:0;
}

.container{
  background:#fff;
  margin:20px auto;
  padding:20px;
  width:95%;
  border-radius:20px;
}

h1,h2{color:#b8860b;}

button{
  background:#3c7ba4;
  color:white;
  padding:8px 14px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  margin:5px;
}

table{
  width:100%;
  margin-top:20px;
  border-collapse:separate;
  border-spacing:0 10px;
}

th,td{
  background:#fff8d6;
  padding:10px;
  text-align:center;
}

th{background:#fff3c4;}

input{width:70px;}

.low-stock{
  color:red;
  font-weight:bold;
  display:none;
}

.total td{
  background:gold;
  font-weight:bold;
}
